[org/gnome/desktop/background]
picture-options='zoom'
picture-uri='file://{{ path_background }}'
primary-color='#ffffff'
secondary-color='#000000'

[org/gnome/desktop/screensaver]
picture-options='zoom'
picture-uri='file://{{ path_background }}'
primary-color='#ffffff'
secondary-color='#000000'

[org/gnome/desktop/input-sources]
sources=[('xkb', 'us'), ('xkb', 'gr')]
xkb-options=['grp:alt_shift_toggle']

[org/gnome/desktop/interface]
document-font-name='Sans 11'
enable-animations=false
enable-hot-corners=false
font-name='{{ font_sans }} Regular 11'
gtk-im-module='gtk-im-context-simple'
icon-theme='Papirus'
monospace-font-name='{{ font_mono }} 10'

[org/gnome/desktop/search-providers]
disable-external=true

[org/gnome/desktop/wm/preferences]
titlebar-font='Sans 11'

[org/gnome/settings-daemon/plugins/power]
power-button-action='interactive'
sleep-inactive-ac-timeout=7200
sleep-inactive-ac-type='nothing'
sleep-inactive-battery-timeout=7200
sleep-inactive-battery-type='nothing'

[org/gnome/shell]
enabled-extensions=['dash-to-dock@micxgx.gmail.com']
favorite-apps=['org.gnome.Nautilus.desktop', 'firefox.desktop']

[org/gnome/shell/extensions/dash-to-dock]
custom-theme-shrink=true
dock-fixed=true
dock-position='BOTTOM'
extend-height=true

[org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9]
use-theme-colors=false

[org/gnome/shell/weather]
automatic-location=true
locations=@av []

[org/gtk/settings/file-chooser]
sort-directories-first=true

[org/gnome/desktop/peripherals/touchpad]
tap-to-click=true

[org/gnome/mutter]
overlay-key=''

[org/gnome/shell/keybindings]
toggle-application-view=['']
toggle-message-tray=['<Super>v']
