[org/gnome/desktop/interface]
document-font-name='Sans 11'
font-name='{{ font_sans }} Regular 11'
icon-theme='Papirus'

[org/gnome/settings-daemon/plugins/power]
sleep-inactive-ac-timeout=7200
sleep-inactive-ac-type='nothing'
sleep-inactive-battery-timeout=7200
sleep-inactive-battery-type='nothing'

[org/gnome/desktop/peripherals/touchpad]
tap-to-click=true
