[Unit]
Description=Bluetooth Connect
After=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/bin/bluetoothctl connect {{ bluetooth_mac }}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
